@import "_variables.scss";
@import "_mixins.scss";

.about {
  height: 100vh;
  margin: 2rem auto;
}
.about-row {
  @include flex-row-center;
  justify-content: space-between;
  height: 95%;
  width: 80vw;
  margin: 0 auto;
}
.about-col {
  height: 100%;
  width: 24%;
  background-color: green;
  @include flex-col-center;
  justify-content: space-evenly;
}
.about-image {
  height: 25%;
}

.about-text {
  color: #fff;
  font-size: 2.2rem;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}

.about-thumbnail {
  height: 40%;
  width: 100%;
  background-image: url(../img/koala.jpg);
  background-size: cover;
}
