@import "_variables.scss";
@import "_mixins.scss";

.about {
  height: 100vh;
}
.about-row {
  @include flex-row-center;
  justify-content: space-between;
  height: 90%;
  width: 85vw;
  margin: auto;
}
.about-col {
  height: 100%;
  width: 25%;

  @include flex-col-center;
  justify-content: space-around;
}

.about-img {
  height: 25%;
}
.about-text {
  font-size: 2.2rem;
  color: #333;
  padding: 2rem;
  text-align: center;
}
.about-thumbnail {
  height: 40%;
  width: 100%;
  background-image: url(../img/raccoon.jpg);
  background-size: cover;
}
