@import "_variables.scss";
@import "_mixins.scss";
.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($accent-color, 0.5),
      rgba($accent-color, 0.5)
    ),
    url(../img/panda.jpg);
  background-size: cover;
  background-attachment: fixed;
  @include flex-col-center;
  justify-content: center;
}
.header-title {
  color: white;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
}
